@tailwind base;
@tailwind components;
@tailwind utilities;

.desc{
    background-image: url('./../images/background.png');
}

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
}

.product-image {
    height: 250px;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}


.faq-caret-icon {
    float: right;
}
