.desc{
    background-image: url('./../images/background.png');
}

body {
    font-family: 'Arial', sans-serif;
}

.carousel-caption h5,
.carousel-caption p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.section-header {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: orange;
    animation: underline-animation 1s ease-in-out infinite alternate;
}

.section-content {
    font-size: 16px;
    color: #444;
}

.section-content ul {
    list-style-type: none;
    padding: 0;
}

.section-content li {
    margin-bottom: 10px;
}

.section-content strong {
    color: #333;
}

.section-content p {
    line-height: 1.6;
}

@keyframes underline-animation {
    0% {
        text-decoration-color: transparent; 
    }
    50% {
        text-decoration-color: #29007a; 
    }
    100% {
        text-decoration-color: transparent; /* End with a transparent underline */
    }
}
