


.desc{
    background-image: url('./../images/background.png');
}

body {
    font-family: 'Arial', sans-serif;
}

p{
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card{
  border:none;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.carousel-caption h5,
.carousel-caption p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.section-header {
    text-align: center;
}

.section-content {
    font-size: 16px;
    color: #444;
}

.section-content ul {
    list-style-type: none;
    padding: 0;
}

.section-content li {
    margin-bottom: 10px;
}

.section-content strong {
    color: #333;
}

.section-content p {
    line-height: 1.6;
}

#carouselTestimonials{
  border: 2px solid gray;
  padding: 30px;
  margin-bottom: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
